/* font logo */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
* {
	padding: 0;
	margin: 0;
	font-family: 'Open sans';
	font-weight: 500;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	color: white;
	outline: none;
}

/*header*/

header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(71, 158, 121, 0.2);
}

header .logo {
	display: flex;
	align-items: center;
}
header .logo h2{
	display: flex;
	align-items: center;
	font-family: 'Dancing Script', cursive;
	font-size: 2rem;
}

header .logo img {
	width: 50px;
	margin: 0 10px;
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
}

nav ul {
	display: flex;
	transition: 0.2s all;
}

nav ul li {
	margin: 0 10px;
	font-size: 1.2rem;
	/* font-weight: 500; */
	/* font-variant: small-caps; */
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.2s all;
	border-bottom: 2px solid transparent;
}

nav ul li:hover {
	/* font-weight: 700; */
	border-bottom: 2px solid white;
}

.buttonToggle{
	cursor: pointer;
	display: none;
	position: absolute;
	top: 10px;
	right: 5px;
	
}

/*banner welcome*/

.welcome {
	width: 100%;
	height: 100vh;
	background-image: url(../img/banner1.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.welcome .head{
	width: 50%;
}
	/* responsive menu */
	/* tablet */
	@media(max-width: 768px){
		header{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 10px;
		}
		nav ul {
			width: 200px;
			height: 100vh;
			padding: 80px 10px;
			background: rgba(71, 158, 121, 1);
			position: absolute;
			top: 0;
			right: -200px;
			display: flex;
			flex-direction: column;
			text-align: left;

		}
		.welcome .head{
			width: 100%;
			padding: 10px;
		}
		.buttonToggle{
			display: flex;
		}
	}


@media(max-width: 465px){

	header .logo h2{
		display: none;
	}
}